---
---

@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

// Creates a <my-caption> tag that can be used to create captions underneath objects
my-caption {
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 80%;
  padding: 0;
  color: #6d6c6c;
  margin-top: -10px;    // Space between the above element and caption
  margin-bottom: 15px;  // Space below the caption
}

// Centers all tables
table {
  margin-left:auto;
  margin-right:auto;
}
